<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>254140767452-rdb3pbe07v8c6f17runjjprj64t1pbs8.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Signing_Flow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.jinholee.BeatitudoMedia</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>Signing_Flow_Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.254140767452-rdb3pbe07v8c6f17runjjprj64t1pbs8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
